<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <div mat-card-title>Bluebird2000</div>
    <div mat-card-subtitle>xttreme.com</div>
  </mat-card-header>
  <img mat-card-image src="/assets/img/category.png">
  <mat-card-content>
    <p>I bothered only about errors not warnings because i dont use an IDE, word 2017 has all the functionalities i need, javascript freak</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">like</button>
    <button mat-button color="primary">delete</button>

    <div class="flex-spacer"></div>
    <button mat-icon-button><mat-icon>publish</mat-icon></button>
  </mat-card-actions>
</mat-card>